@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeeee;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #55c377;
  border-radius: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    15deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 255, 156, 1) 64%,
    rgba(124, 255, 115, 1) 100%
  );
}

.axe {
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#entreprise.entreprise {
  transform: translateX(0vw);
}
#entreprise.competence {
  transform: translateX(-100vw);
}
#entreprise.reactivite {
  transform: translateX(-200vw);
}
#entreprise.numerique {
  transform: translateX(-300vw);
}
#entreprise.graph {
  transform: translateX(-400vw);
}

#AxeCompetence.entreprise {
  transform: translateX(100vw);
}
#AxeCompetence.competence {
  transform: translateX(0vw);
}
#AxeCompetence.reactivite {
  transform: translateX(-100vw);
}
#AxeCompetence.numerique {
  transform: translateX(-200vw);
}
#AxeCompetence.graph {
  transform: translateX(-300vw);
}

#AxeReactivite.entreprise {
  transform: translateX(200vw);
}
#AxeReactivite.competence {
  transform: translateX(100vw);
}
#AxeReactivite.reactivite {
  transform: translateX(0vw);
}
#AxeReactivite.numerique {
  transform: translateX(-100vw);
}
#AxeReactivite.graph {
  transform: translateX(-200vw);
}

#AxeNumerique.entreprise {
  transform: translateX(300vw);
}
#AxeNumerique.competence {
  transform: translateX(200vw);
}
#AxeNumerique.reactivite {
  transform: translateX(100vw);
}
#AxeNumerique.numerique {
  transform: translateX(0vw);
}
#AxeNumerique.graph {
  transform: translateX(-100vw);
}

#graph.entreprise {
  transform: translateX(400vw);
}
#graph.competence {
  transform: translateX(300vw);
}
#graph.reactivite {
  transform: translateX(200vw);
}
#graph.numerique {
  transform: translateX(100vw);
}
#graph.graph {
  transform: translateX(0vw);
}
